	body {
		font-family: 'Lobster', cursive;
		background: gray;
		margin: 0;
	}
	h2{
		color:rgba(255,255,255,.8);
		margin-left:12px;
	}

	.headercontainer {
		text-align:center;
		display:inline-block;
		position:relative;
		width:100%;
	}

	.headerreg {
		padding: 10px;
		background: #bfaba4;
		color: black;
		font-size: 30px;
		overflow: hidden;
		position: sticky;
		position: -webkit-sticky;
		display: flex;
		text-align: center;
		width: 100%;
	}

	.logo {
		width: 140px;
		height: 140px;
		justify-content: center;
		align-content: flex-end;
	}

	.flex-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		alignment: center;
		width: 100%;
	}

	h1{
		font-family: 'Lobster', cursive;
		font-weight: 600;
		font-size: 40px;
		color: black;
		text-align: center;
	}

	.sidebar {
		margin: 0;
		padding: 0;
		width: 90px;
		background-color: #ffffff;
		position: fixed;
		height: 100%;
		overflow: auto;
	}

	.sidebar a {
		display: block;
		color: black;
		padding: 16px;
		text-decoration: none;
	}

	.sidebar a.active {
		background-color: #213357;
		color: white;
	}

	.sidebar a:hover:not(.active) {
		background-color: #555;
		color: white;
	}
	.sidebar.top{
		display: flex;
		flex-direction: row;
		overflow: auto;
		width: 100%;
		height: auto;
		position: relative;
		text-align: center;
		float: none;
	}

	@media screen and (max-width: 700px) {
		.sidebar {
			width: 100%;
			height: auto;
			text-align: center;
			float: none;
		}
		.sidebar a {float: left;}
		div.content {margin-left: 0;}
		.flex-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			alignment: center;
			margin-top: 50px;
		}
		.headerreg{
			width: 110%;
		}
	}


	form {
		display: flex;
		flex-direction: column;
		position:center;
		margin: auto;
		height: auto;
	}

	input {
		font-family: 'Lobster', cursive;
		padding: 10px;
		border-radius:7px;
		border:0;
		background: rgba(255,255,255,255);
		display: block;
		margin: 15px;
		width: 300px;
		font-size:18px;
		height: 54px;
	}

	input:focus {
		outline-color: black;
		background: white;
	}

	.button-register {
		align-items: center;
		background-color: #bfaba4;
		border: 2px solid #111;
		border-radius: 8px;
		box-sizing: border-box;
		color: #111;
		cursor: pointer;
		display: flex;
		font-family: 'Lobster', cursive;
		font-size: 16px;
		height: 48px;
		justify-content: center;
		line-height: 24px;
		max-width: 100%;
		padding: 0 25px;
		position: relative;
		text-align: center;
		text-decoration: none;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
	}

	.button-register:after {
		background-color: #111;
		border-radius: 8px;
		content: "";
		display: block;
		height: 48px;
		left: 0;
		width: 100%;
		position: absolute;
		top: -2px;
		transform: translate(8px, 8px);
		transition: transform .2s ease-out;
		z-index: -1;
	}

	.button-register:hover:after {
		transform: translate(0, 0);
	}

	.button-register:active {
		background-color: #ffdeda;
		outline: 0;
	}

	.button-register:hover {
		outline: 0;
	}

	@media (min-width: 768px) {
		.button-register {
			padding: 0 40px;
		}
	}

	.text {
		font-size: 18px;
		line-height: 100%;
		color: black;
	}
	.tooltip {
		position: relative;
		display: inline-block;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 200px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 40%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;
		font-family: "Courier New";
	}

	.tooltip .tooltiptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}