

	body {
		font-family: 'Roboto', sans-serif;
		background: gray;
	}
	.header {
		padding: 10px;
		text-align: center;
		background: #e74c3c;
		color: black;
		font-size: 30px;
		overflow: hidden;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
	}
	.center {
		display: grid;
		justify-content: center;
		align-items: center;
		height: 200px;
		padding-top: 100px;
	}
	button {
		height: 70px;
		width: 332px;
		border: 0;
		background: #e74c3c;
		border-radius:7px;
		padding-bottom: 35px;
		font-size:22px;
		margin: 15px;
	}

