
	body {
		font-family: 'Roboto', sans-serif;
	}
	/* pitäs saaha nää keskelle*/
	.box {
		width: 100%;
		height: 100%;
		display: grid;
		justify-content: center;
		gap: 5%;
		vertical-align: center;
		justify-items: center;
	}
	/* pitäs saaha nää keskelle*/
	.logo {
		justify-content: center;
		display: flex;
		align-items: center;
		width: 148px;
		height: 148px;
		background-color: rgba(255, 103.06, 103.06, 1);
		border-radius: 9999px;

	}

	.text {
		font-size: 18px;
		line-height: 100%;
		color: black;
	}

	.input {
		width: 304px;
		height: 56px;
		background-color: rgba(255, 103.06, 103.06, 1);

	}

	.register {
		width: 304px;
		height: 56px;
		background-color: rgba(255, 103.06, 103.06, 1);
	}


