body {
	font-family: 'Lobster', cursive;
	background: gray;
	margin: 0;
}
.headercontainer {
	text-align:center;
	display:inline-block;
	position:relative;
	width:100%;
}
.backbutton {
	align-self: end;
	width: 1%;
}

.headerupload {
	padding: 10px;
	background: #bfaba4;
	color: black;
	font-size: 30px;
	overflow: hidden;
	position: sticky;
	position: -webkit-sticky;
	display: flex;
	text-align: center;
	width: 100%;
}

h1{
	text-align: center;
	font-size: 35px;
}

.uploadcontainer {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 200px;
	padding-top: 100px;
	gap: 10px;
}

.upload{
	text-align:center;
	display:inline-block;
	position:relative;
	width:100%;
}