    body {
        font-family: 'Lobster', cursive;
        background: gray;
        margin: 0;
    }
    .container {
        text-align:center;
        display:inline-block;
        position:relative;
        width:100%;
    }

    .header {
        padding: 10px;
        background: #bfaba4;
        color: black;
        font-size: 30px;
        overflow: hidden;
        position: sticky;
        position: -webkit-sticky;
        display: flex;
        text-align: center;
        width: 100%;
    }

    .logo {
        width: 150px;
        height: 150px;
       justify-content: center;
        align-content: flex-end;
    }

    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        alignment: center;
        width: 100%;
    }

    h2{
        color:rgba(255,255,255,.8);
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 30px;
        color: black;
        letter-spacing: 2px;
    }
    p {
        font-family: "Courier New";
        text-align: center;
        font-size: 1.3em;
        float: right;
        padding: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        position:center;
        margin: auto;
        height: auto;
    }

    input {
        font-family: 'Lobster', cursive;
        padding: 10px;
        border-radius:7px;
        border:0;
        background: rgba(255,255,255,255);
        display: block;
        margin: 15px;
        width: 300px;
        font-size:18px;
        height: 54px;
    }

    input:focus {
        outline-color: black;
        background: white;
    }

    .button-login {
        align-items: center;
        background-color: #bfaba4;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-family: 'Lobster', cursive;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-login:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    .button-login:hover:after {
        transform: translate(0, 0);
    }

    .button-login:active {
        background-color: #ffdeda;
        outline: 0;
    }

    .button-login:hover {
        outline: 0;
    }

    @media (min-width: 768px) {
        .button-login {
            padding: 0 40px;
        }
    }

    .text {
        font-size: 18px;
        line-height: 100%;
        color: black;
    }
    .sidebar {
        margin: 0;
        padding: 0;
        width: 90px;
        background-color: #ffffff;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

    .sidebar a.active {
        background-color: #213357;
        color: white;
    }

    .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
    .sidebar.top{
       display: flex;
        flex-direction: row;
        overflow: auto;
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        float: none;
    }

    @media screen and (max-width: 700px) {
        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
            text-align: center;
            float: none;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
    }

    @media screen and (max-width: 400px) {
        .sidebar a {
            text-align: center;
            float: none;
        }
    }
    .clothespic{
        width: 50%;
        float: left;
    }




